# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv environment variables
.env
